<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <block name="title"><title></title></block>
    <link href="/Public/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
<block name="content">

</block>
</body>
<script src="/Public/js/jquery-3.0.0-beta1.js"></script>
<script src="/Public/bootstrap/js/bootstrap.min.js"></script>
<block name="script">

</block>
</html>